/* Color Palette for Theme */
:root {
    --background-color: #f8e6c4; /* Light background */
    --text-color: #553d3a; /* dark text color for light theme - hsla(142, 24%, 14%, 1) */
    --link-color: #553d3a; /* Default link color */
    --link-active-bg: hsl(0deg 0% 100% / 50%); 
    /* --link-hover-color: blue; Link hover color */
    --backdrop-color: hsl(45deg 17% 95% / 80%);
    
}

/* Dark Theme Colors */
body.dark-mode {
    --background-color: #212121; /* Dark background */
    --text-color: #E0E0E0; /* light text color for Dark theme - hsla(159, 42%, 88%, 1); */
    --link-color: #E0E0E0; /* Lighter link color for dark mode */
    --link-active-bg: hsl(0deg 1.45% 44.76% / 50%);
    /* --link-hover-color: red; Link hover color in dark mode */
    --backdrop-color: hsl(350.21deg 3.45% 26.01% / 70%); /* Darker backdrop */
}

